nav {
  background-color: #18232e;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 1.8rem;
  color: #ffffff;
}

.nav-item {
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #ffffff !important;
  font-weight: 600;
}

/* -- Request Button --*/

#requestBtn {
  font-family: "Montserrat", sans-serif;
  background-color: #31d2f2;
  font-weight: 600;
  font-size: 13px;
}

#requestBtn:hover {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(49, 210, 242, 0.81);
}

/*-- ALERT SECTION --*/

#alertDashboard {
  height: 60px;
  padding: 0;
  margin: 0 auto;
  background-color: #4abdd2;
  font-weight: 500;
  font-size: 13px;
  border: none;
}

#showcase {
  background-color: #203856;
}

#showcase h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/*-- COMPANY SECTION --*/

#company img {
  width: 50px;
  height: auto;
}

/*-- FEATURES SECTION --*/

#features h1 {
  color: #203856;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#another img {
  width: 50%;
}

/*--  Get Started Section -- */

#getStarted {
  height: 200px;
  padding: 0;
  margin: 0 auto;
  background-color: #203856;
  font-weight: 500;
  font-size: 2.2rem;
  border: #203856;
  color: #ffffff;
  border-radius: 0;
}

#getStarted h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
}

/*--  footer Section -- */

footer h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

footer ul li a {
  color: #dddddd;
  text-decoration: none;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

footer li {
  padding-right: 1.2rem;
  font-size: 0.9rem;
}

/*-- Carousel --*/

#logoCarousel {
  background-color: #f8f9fa;
  mix-blend-mode: multiply;
  margin: 25px 0 0 25px;
  width: 35%;
}

#carouselP {
  font-size: 22px;
  font-weight: 600px;
}

#infoMan {
  padding-top: 50px;
}

#infoMan h3 {
  font-size: 20px;
}

#infoMan p {
  font-size: 14px;
  color: gray;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 100px;
  margin-top: -50px;
  background-color: red;
  color: red;
  display: none;
  width: 40px;
  height: 40px;
}

.carousel-control-prev-icon {
  width: 30px;
  height: 30px;

  border-radius: 20px;
  background-color: gray;
  padding: 5px;
  background-image: url("img/arrow-left-circle-fill.svg");
}

.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-color: gray;

  border-radius: 20px;
  padding: 5px;
  background-image: url("img/arrow-right-circle-fill.svg");
}
